:root {
    /*My Browser Inner Width and Height: 1484px  x  756px*/
    /*HD Screen Resolution : 1920px x 1080px*/
  --fixed-screen-width: 1420px; /* 1920px  */
  --fixed-screen-height: 700px; /* 1080px */
  --app-width: calc(var(--fixed-screen-width)   *  (1 - 0.0)); /*reduce app-width */
  --app-height: calc(var(--fixed-screen-height) *  (1 - 0.0)); /*reduce app-height */

  --blue: #1e90ff;
  --white: #ffffff;
  --orange: #FF5733;
  --green: #4CAF50;
  --bg-green: #4CAF50;
  --bg-gray: #1d2327; 
  --border1: 2px solid black;
  --border2: 2px solid black;
  /*Disable Border*/
  --border1: none;
  --border2: none;
 
  /*Viki_Commment: Only the following has to be modified between 3CARDS, 4CARDS, 5CARDS and 6CARDS layout*/
  --grid-row1-ncolumns: 2; /* viki_comment: only change this value to increase or decrease columns in first row */
  --grid-template-row1-columns: repeat(var(--grid-row1-ncolumns), 1fr); /* Use var() inside repeat() */

  --grid-row2-ncolumns: 2; 
  --grid-template-row2-columns: repeat(var(--grid-row2-ncolumns), 1fr); /* Use var() inside repeat() */
  /* --grid-template-row2-columns: calc(var(--app-width) * 0.6) calc(var(--app-width) * 0.39);  */
  
  
    /* Calculate the reduced values */
  --header-height: calc(var(--app-height) * 0.1);
  --body-height: calc(var(--app-height) * 0.75);
  --footer-height: calc(var(--app-height) * 0.1); 
 
  --row1-height: calc(var(--body-height) * 0.59);
  --row2-height: calc(var(--body-height) * 0.39);
 
  --row1-card-height: calc(var(--row1-height) * 0.9);
  --row2-card-height: calc(var(--row2-height) * 0.9);
  --warning-title-y-placement: 50px; 
  --warning-text-y-placement: 5px; 
  --concept-based-explanation-text-y-placement: -80px; 
}

html,body {
    margin: 0;
    font-family: Arial, sans-serif;
    /*overflow: hidden;*/ /* Prevents scrolling */
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fixed-page-dimension {
    display: grid;
    max-width: var(--app-width); /* Reduced width */
    max-height: var(--app-height); /* Reduced height */
    margin: 0 auto; /* Centers the content horizontally */
    width: 100%; /* Ensures it scales on smaller screens */
    grid-template-rows:var(--header-height) var(--body-height) var(--footer-height);
    grid-template-columns: auto;
}

header {
    position: relative;
    background: var(--bg-green);
    color: white;
    padding: 1rem;
    text-align: center;
}

header > h1{
    align-items: center;
    justify-content:left;
    text-align: left;
    margin-top:8px;
}

.header-info {
    position: absolute;
    top: 12px;
    right: 60px;
    background: #1d2327;
    color: white;
    padding: 5px 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-info table {
    border-collapse: collapse;
    border: 1px solid #ccc;  /* Border for the entire table */
}

.header-info td {
    padding: 0px 2px;
    text-align: left;
    border: 1px solid #ccc;  /* Border for individual cells */
}

.unhealthy {
    color: var(--orange);  /* Red color for Unhealthy */
    font-weight: bold;
}

.healthy {
    color: var(--green);  /* Red color for Unhealthy */
    font-weight: bold;
}

main {
    position: relative;
    display: grid;
    /* 60% 38%; */  /* Adjust the height of row1 and row2*/
    grid-template-rows: calc(var(--body-height) * 0.6)   /* 10% of --app-height */
                       calc(var(--body-height) * 0.3);  /* 10% of --app-height */
    column-gap: 1px; /* 10px gap between columns */
    row-gap: 1px;    /* 5px gap between rows */
    padding: 0.1rem;
    background: #f4f4f9;
    overflow-y: hidden;
    /*viki_comment: The following Disable : For the main columns to be full length*/
    /*
    align-items: center;
    justify-content: center;
    */
}

.main-row1 {
    display: grid;
    background: none;
    border-radius: 8px;
    grid-template-columns: var(--grid-template-row1-columns);  
    height: var(--row1-height);              /* Fixed height */
    border: var(--border1);
    overflow: hidden;
    column-gap: 5px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.main-row2 {
    display: grid;
    background: none;
    border-radius: 8px;
    grid-template-columns: var(--grid-template-row2-columns); /*60% 39%*/
    height: var(--row2-height);              /* Fixed height */
    border: var(--border2);
    overflow: hidden;
    column-gap: 1px;
    padding-left: 5px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

/* Card Styles */
.card-row1-col2-3-4-5 {
    display: grid;
    width: 100%;                /* Matches the width of the column */
    gap: 1px;                    /* 5px gap between elements */
    
    height: var(--row1-card-height);              /* Fixed height */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    grid-template-rows: 10% 60% 30%;  /* Row heights as specified */
    border: 1px solid #ccc;   /* Border around the entire card */
    overflow: hidden;
}

/* First Row - Patient ID */
.card-row1-col2-3-4-5 .title {
    color: #555;
    background: white;
    display: flex;
    text-align: left;
    margin-left: 5px;
    justify-content: left;
    padding-left: 8px;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Second Row - Image */
.card-row1-col2-3-4-5 .image {
    width: 100%;
    height: 100%;
    background: none;
    object-fit: contain;
    display: block;
    border-bottom: none;
    justify-content: center;
    align-items: center;
}

/* Third Row - Text */
.card-row1-col2-3-4-5 .caption {
    padding-left: 8px;
    background: none;
    padding-top: 0px;
    overflow-y: auto;
    font-size: 0.9rem;
    color: #555;
    align-items: center;
    justify-content: center;
}
.card-row1-col2-3-4-5 .caption p {
	  /*vertical horizantal*/
  margin: 8px 0;
}



.main-row2 .user-diagnosis {
    color: #555;
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-top: 60px; /*Move radio button up / down*/
}

.main-row2 .user-diagnosis .title{
    text-align: center;
    font-size: 1.2rem;  /* Larger text size */
    font-weight: bold;  /* Make it bold */
    margin-bottom: 10px;  /* Space between the text and radio buttons */
}

.main-row2 .user-diagnosis .rectangle {
    display: flex;
    gap: 0.5rem; /* Small gap between radio buttons */
    justify-content: center;
    align-items: center;
}

.main-row2 .user-diagnosis .rectangle label {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.main-row2 .user-diagnosis .rectangle  input[type="radio"] {
    margin-right: 5px; /* Space between radio button and label text */
}

.main-row2 .user-diagnosis .rectangle .healthy-label {
    background-color: var(--green);  /* Green background for Healthy */
    color: white;
}

.main-row2 .user-diagnosis .rectangle .unhealthy-label {
    background-color: var(--orange);  /* Orange background for Unhealthy */
    color: white;
}

footer {
    position: relative;
    background: var(--bg-gray);
    color: white;
    text-align: center;
    padding: 1rem;
}

footer .nav-buttons {
    position: absolute;
    /*distance from bottom*/
    bottom: 30px;
    right: 10px;
    display: flex;
    gap: 0.5rem;
}

footer .nav-buttons button {
    background: var(--green);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

footer .nav-buttons button:hover {
    background: #45a049;
}

footer .progress-bar-container {
    position: absolute;
    bottom: 30px;  /* Adjusts the distance from the bottom of the footer */
    left: 50%;
    transform: translateX(-50%); /* Centers the bar horizontally */
    width: 500px;
    height: 30px;
    background-color: #555; /* Background color of the progress bar */
    border-radius: 5px; /* Rounded corners for the container */
    overflow: hidden;  /* Ensures text stays within the bar */

}

footer .progress-bar {
    position: absolute;
    display: flex;
    width: 50%; /* Set the progress here */
    height: 100%;
    background-color: var(--green); /* Progress color */
    border-radius: 5px; /* Rounded corners for the progress bar */
    align-items: center;
    justify-content: center;   /* Center text horizontally */
    overflow: hidden;           /* Prevents overflow of text */
    white-space: nowrap;        /* Prevents text from wrapping */
    text-align: center; 
}

footer .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    pointer-events: none;  /* Makes the text unclickable */
}

/* Text Card Styles */
.card-row1-col1 {
    display: flex;
    width: 100%;                 /* Ensure card width matches the width of column 2 */
    gap: 1px;                    /* 5px gap between elements */
    padding-left: 15px;
    padding-top: 15px;
    height: var(--row1-card-height);              /* Fixed height */
    box-sizing: border-box;      /* Ensures padding and border are included in width */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid #ccc;
    overflow:hidden;
}
.card-row2-col1 {
    display: grid;
    gap: 1px;                    /* 5px gap between elements */
    width: 97.5%;                 /* Ensure card width matches the width of column 2 */
    height: var(--row2-card-height);              /* Fixed height */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;   /* Border around the entire card */
    margin-left:10px;
}

.card-row2-col2 {
    display: grid;
    gap: 1px;                    /* 5px gap between elements */
    width: 97.5%;                 /* Ensure card width matches the width of column 2 */
    height: var(--row2-card-height);              /* Fixed height */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc;   /* Border around the entire card */
    overflow: hidden;
}

/* Card Title */
.card-row1-col1 .title {
    color: #555;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Numbered Biomarkers List */
.card-row1-col1 .biomarkers-list {
    color: #555;
    list-style-type: decimal;  /* Changes to numbered list */
    padding-left: 20px;
    margin: 0;
    font-size: 16px;
}

/* Warning Title */
.card-row1-col1 .card-warning {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: var(--orange);
    margin-top: var(--warning-title-y-placement);
}

/* Warning Text */
.card-row1-col1 .card-warning-text {
    color: #555;
    font-size: 12px;
    margin: 0;
    color: #555;
    line-height: 1.5;
    margin-top: var(--warning-text-y-placement);
}

/* Card Title */
.card-row2-col1 .title {
    color: #555;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
}

.card-row2-col1 .text {
    font-size: 13px;
    color: #555;
    line-height: 1.5;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: var(--concept-based-explanation-text-y-placement);
}

/* Basic styles for the radio button */
input[type="radio"] {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Chrome/Safari */
    appearance: none; /* Standardize across browsers */
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 50%;  /* Ensure the button is round */
    width: 15px;
    height: 15px;
    background-color: #fff; /* White background when not selected */
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 2px solid #888;  /* Default border color */
}

/* when radio button is selected */
input[type="radio"]:checked {
    background-color: #fff;  /* Keep background white */
    border-color: #2196F3;   /* Blue border when selected */
}

/* Inner blue circle when radio button is selected */
input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;     /* Center vertically */
    left: 50%;    /* Center horizontally */
    width: 8px;  /* Size of the inner blue circle */
    height: 8px; /* Size of the inner blue circle */
    background-color: #2196F3;  /* Blue inner circle */
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Center the inner circle perfectly */
}

